.remove-prof{
    padding: 8px 12px;
    color:white;
    background-color: #333;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
        background-color: blue;
    }
}

.prof-button-modifier{
    text-decoration: none;
}

.show-bio {
    display: block !important;
}

.bio-data{
    display:none;
}