<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Coopers Models</title>
    <link rel="stylesheet" href="css/main.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
</head>
<body>
    <main id="app">
        <img src="images/logo.png" alt="logo" width="400" height="180">
        <h1 @click="clickHeader">{{ content }}</h1>
        <p>{{ anotherMessage }}</p>
        <!-- <cooper-car></cooper-car>
        <cooper-car></cooper-car> -->

        
        

        <!-- show the prof data in profs array -->
         <ul>
             <!--this is a custom vue component defined in main.js-->
            <cooper-car @showmydata="removeCooper" v-for="cooper in coopers" :cooper="cooper" :key="cooper.id"></cooper-car>
            <!--<li v-for="cooper in coopers">
                  <p> {{ cooper.model }}</p>
                <a href="" class="removeCooper" @click.prevent="removeCooper(cooper)" :class="{'cooper-button-modifier' : removeAformat}">{{cooper.img1}}</a>:href=""
            </li>-->
        </ul> 

        <section class="bio-data" :class="{'show-bio' : showBioData}">
            <h1 class="information"> {{ currentCooperData.description }} </h1>
            <p class="information2"> {{ currentCooperData.features }} </p>
            <img :src="'images/' + currentCooperData.img3" class="information2" alt="car">
            <img :src="'images/' + currentCooperData.img2" class="information3" alt="car">
        </section>



    </main>
</body>
<script src="js/main.js" type="module"></script>
</html>
