.cooper-header{
    color: #333;
}

.removeCooper{
    padding: 8px 12px;
    color:#333;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        opacity:0.5;
    }
}

.prof-button-modifier{
    text-decoration: none;
}